In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data = sns.load_dataset('titanic')

In [ ]:
data.head()

## Print columns of ``data``

## Get number of nan values per column

## Display the following :
- show the 5 first lines
- print a summary statistics of your columns (numerical and categorical apart)

## Replace nan values in age with mean

In [ ]:
# Replace null value in age column

## Do the following : 
- first detect which columns are categorical (such as ``Embarked column`` )  and  convert them into ``category`` type
- then Replace null values in embarked and fare columns with mode. or median.

## Print the frequency of embarked , then normalize them

In [ ]:
#print the frequency of embarked

## Drop the column fare

## Average age of the woman passengers:

## Average age of the male passengers.

## The max age among the male passengers:

## Create a new column age2 = age +12

## Calculate The min age among the female passengers:

## Calculate the min age among the alive male passengers.

##  Average the age of  **male** passengers in First or Second class:

## Get total age of embarked equals to S or C.

##  Sort the DataFrame in ascending order of the 'age' use ``sort_values (df.sort_values(by='...', ascending=...)).``

**Aggregating**


Documentation : https://pbpython.com/groupby-agg.html

Aggregation function is one which takes multiple individual values and returns a summary.

The most common aggregation functions are a simple average or summation of values.

Here’s a quick example of calculating the total and average fare using the Titanic dataset (loaded from seaborn):

In [ ]:
 data.groupby(by="embark_town").mean()

In [ ]:
 data.groupby(by="embark_town").describe()

In [ ]:
data.groupby(by="embark_town").agg(age_mean=("age","mean"),
                                   fare_median=("fare","median"))

## Average age for each embark_town. Use the groupby() method.

## Average age of each embark_town with respect to class. Use the pivot_table() method.

- repeate the same but using fare as values. 
- use at least two aggregation functions (sum , mean ,...etc)   

Pivot Table

Documentation : 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

## Average age and fare for each embark_town using groupby()

## Sort the DataFrame in ascending order of the 'embark_town'. Show the top 20.